

<h1>Contacto <span>(Sólo operamos en Jalisco)</span> </h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <h3>Formulario</h3>
        <form class="">
            <div class="form-group">
                <label for="name">Nombre <span>(requerido)</span></label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electrónico <span>(requerido)</span></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                <small id="emailHelp" class="form-text text-muted">Nunca revelaremos sus datos a terceros</small>
            </div>
            <div class="form-group">
                <label for="webSite">Sitio web</label>
                <input type="text" class="form-control" id="webSite" placeholder="">
            </div>
            <div class="form-group">
                <label for="comment">Comentario <span>(requerido)</span></label>
                <textarea id="comment" class="form-control" maxlength="500"></textarea>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">No soy un robot</label>
            </div>
            <button type="button" class="btn btn-primary">Enviar</button>
</form>
    </div>
    <div class="col-md-4">
        <h3> Teléfonos  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></h3>
    <ul>
        <li>+52 1 33 1753 7903</li>
    </ul>
    </div>
</div>

<hr />