html {
  scroll-behavior: smooth;
}
body {
  font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.navbar-nav li a {
  font-size: 20px;
  color: white;
}
div.custom-index {
  display: block;
  background-image: url('img/header.jpg');
  height: 750px;
  height: 75vh;
  height: calc(80vh - 85px);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 10% 0;
  position: relative;
  text-align: center;
  padding: 24%;
}
div.custom-index .custom-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  flex-direction: column;
}
div.custom-index .custom-wrap div h1 {
  color: white;
  font-weight: 800;
  letter-spacing: 0.08em;
}
div.custom-index .custom-wrap div h2 {
  font-size: 1.5rem;
  color: lightgray;
  letter-spacing: 0.05em;
}
div.custom-index:before {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.custom-content > div {
  padding: 70px 20px 0px 20px;
}
.custom-content h1 {
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin: 0 0 0.75em;
  padding: 0.75em 0 0;
  text-transform: uppercase;
}
.custom-content h2 {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin: 0 0 0.75em;
  padding: 0.75em 0 0;
}
.custom-content h3 {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin: 0 0 0.75em;
  padding: 0.75em 0 0;
}
#about .custom-about h2 {
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: central;
}
#about .custom-about img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#about .custom-about p {
  text-align: justify;
}
#contact h1 > span {
  font-size: 20px;
  display: inline-block;
  color: darkgray;
}
#contact h3 {
  margin-top: 20px;
}
#contact form label {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin: 0 0 0.75em;
  padding: 0.75em 0 0;
}
#contact form label span {
  color: darkgray;
}
#contact form input,
#contact form textarea {
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
#contact form input:focus,
#contact form textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#contact form input[type="text"]:focus {
  outline: none;
}
#contact form textarea {
  width: 100%;
}
#contact form small {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin: 0 0 0.75em;
  padding: 0.75em 0 0;
}
#contact form .custom-checkbox label::before,
#contact form .custom-checkbox label::after {
  margin-top: 8px;
}